*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
  font-family: DM Sans, sans-serif;
}
.portada {
  height: 100vh;                
  width: 100%;
  display: flex;
  background-size: contain;       
  background-position: center top;  
  background-repeat: no-repeat;
  background-image: url(/Assets/image/BANNER.png);
}
.portada-text {
  color: #fff;
  text-align: left;
  margin: 320px 0 0 64px;
}
h2 {
  font-size: 0.8rem;
  margin-bottom: 1rem;
  color: #C7C7C7;
  font-weight: 400;
}
h3 {
  font-size: 1rem;
  margin-bottom: 2rem;
  max-width: 450px;
  font-weight: 400;
}

.btn{
  display: inline-flex;
  align-items: center;
  background-color: #003B83;
  color: #fff;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
}
.btn-icon {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}
.btn:hover {
  border: 0.1px solid #e9e9e9;
  box-shadow: 
    0 0 8px rgba(255, 255, 255, 0.6),
    0 0 16px rgba(255, 255, 255, 0.4);
}
.btn2 {
  display: inline-flex;
  align-items: center;
  background-color: rgba(151, 151, 151, 0.7);
  color: #ffffff;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 500;
}
.btn2:hover {
  border: 0.1px solid #e9e9e9;
  box-shadow: 
    0 0 8px rgba(255, 255, 255, 0.6),
    0 0 16px rgba(255, 255, 255, 0.4);
}
.grupo-botones {
  display: flex;
  gap: 8px;
}
.categorias-section {
  padding: 2rem 4rem;
  background-color: #0A1015;
  height: 100vh;                
  width: 100%;
  display: flex;
  background-size: contain;
  color: #fff;
}
.categoria-item {
  color: #C7C7C7;
  padding: 1rem;
  margin-bottom: 1rem;
}